@if (user$ | async; as user) {
    @if (user.image) { <img [src]="user.image"> }
    @if (user.maidenName) { <div>maidenName: {{ user.maidenName }}</div> }
    @if (user.age) { <div>age: {{ user.age }}</div> }
    @if (user.gender) { <div>gender: {{ user.gender }}</div> }
    @if (user.email) { <div>email: {{ user.email }}</div> }
    @if (user.phone) { <div>phone: {{ user.phone }}</div> }
    @if (user.username) { <div>username: {{ user.username }}</div> }
    @if (user.password) { <div>password: {{ user.password }}</div> }
    @if (user.birthDate) { <div>birthDate: {{ user.birthDate }}</div> }
    @if (user.bloodGroup) { <div>bloodGroup: {{ user.bloodGroup }}</div> }
    @if (user.height) { <div>height: {{ user.height }}</div> }
    @if (user.weight) { <div>weight: {{ user.weight }}</div> }
    @if (user.eyeColor) { <div>eyeColor: {{ user.eyeColor }}</div> }
    @if (user.domain) { <div>domain: {{ user.domain }}</div> }
    @if (user.ip) { <div>ip: {{ user.ip }}</div> }
    @if (user.macAddress) { <div>macAddress: {{ user.macAddress }}</div> }
    @if (user.university) { <div>university: {{ user.university }}</div> }
    @if (user.ein) { <div>ein: {{ user.ein }}</div> }
    @if (user.ssn) { <div>ssn: {{ user.ssn }}</div> }
}
